Process1/order.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1134438639123"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1134438639123"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	 <xsd:element name = "order">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "first_name"/>
				<xsd:element ref = "last_name"/>
				<xsd:element ref = "ship_to_addr"/>
				<xsd:element ref = "items" maxOccurs = "unbounded"/>
				<xsd:element ref = "total_price"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "first_name" type = "xsd:string"/>
	<xsd:element name = "last_name" type = "xsd:string"/>
	<xsd:element name = "ship_to_addr">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "ship_to_street"/>
				<xsd:element ref = "ship_to_city"/>
				<xsd:element ref = "ship_to_region"/>
				<xsd:element ref = "ship_to_zip_code"/>
				<xsd:element ref = "ship_to_country"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "ship_to_street" type = "xsd:string"/>
	<xsd:element name = "ship_to_city" type = "xsd:string"/>
	<xsd:element name = "ship_to_region" type = "xsd:string"/>
	<xsd:element name = "ship_to_zip_code" type = "xsd:string"/>
	<xsd:element name = "ship_to_country" type = "xsd:string"/>
	<xsd:element name = "items">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "item_no"/>
				<xsd:element ref = "quantity"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "item_no" type = "xsd:integer"/>
	<xsd:element name = "quantity" type = "xsd:integer"/>
	<xsd:element name = "total_price" type = "xsd:integer"/>
</xsd:schema>