IM/order.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Developer Bundle Edition (Education) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="customerId"
                            type="xs:string"
                            minOccurs="1"
                            maxOccurs="1" />
                <xs:element name="email"
                            type="xs:string" />
                <xs:element name="phoneNumber"
                            type="xs:string" />
				<xs:element name="postcode"
                            type="xs:string"
                            minOccurs="1"
                            maxOccurs="1" />
                <xs:element name="restaurant"
                            minOccurs="1"
                            maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="restaurantName"
                                        type="xs:string"
                                        minOccurs="1"
                                        maxOccurs="1" />
                            <xs:element name="packages"
                                        minOccurs="1"
                                        maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:all>
                                        <xs:element name="package_name"
                                                    type="xs:string" />
                                        <xs:element name="package_detail"
                                                    type="xs:string" />
                                        <xs:element name="package_price"
                                                    type="xs:double" />
                                    </xs:all>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="totalPrice"
                            type="xs:double"
                            minOccurs="1"
                            maxOccurs="1" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
