IM/restaurant_list.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2014 Developer Bundle Edition (Education) 12.2.8.5459 (http://www.liquid-technologies.com)-->
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns="http://xmlns.example.com/unique/default/namespace/1134438639123"
            elementFormDefault="qualified"
            targetNamespace="http://xmlns.example.com/unique/default/namespace/1134438639123"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="result">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="customer">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="id"
                                         type="xsd:string" />
                            <xsd:element name="email"
                                         type="xsd:string" />
                            <xsd:element name="phone"
                                         type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="restaurant"
                             minOccurs="0"
                             maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="packages"
                                         minOccurs="0"
                                         maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="package_name"
                                                     type="xsd:string" />
                                        <xsd:element name="package_detail"
                                                     type="xsd:string" />
                                        <xsd:element name="package_price"
                                                     type="xsd:double" />
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="name"
                                         type="xsd:string" />
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
