IM/restaurant_list.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1134438639123"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1134438639123"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
<xsd:element name="customerID"  type="xsd:string"/>
<xsd:element name="phoneNumber"  type="xsd:string"/>
<xsd:element name="email"  type="xsd:string"/>
        
                <xsd:element name="restaurant"
                             maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="restaurantName"
                                         type="xsd:string" />
                            <xsd:element name="packages"
                                         minOccurs="0"
                                         maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="package_name"
                                                     type="xsd:string" />
                                        <xsd:element name="package_detail"
                                                     type="xsd:string" />
                                        <xsd:element name="package_price"
                                                     type="xsd:double" />
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>


</xsd:schema>
