IM/retrieveRoute.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2014 Developer Bundle Edition (Education) 12.2.8.5459 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="status" type="xs:string" />
        <xs:element minOccurs="0" name="route">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="summary" type="xs:string" />
              <xs:element minOccurs="0" name="leg">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="step">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="travel_mode" type="xs:string" />
                          <xs:element minOccurs="0" name="start_location">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="lat" type="xs:decimal" />
                                <xs:element minOccurs="0" name="lng" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="end_location">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="lat" type="xs:decimal" />
                                <xs:element minOccurs="0" name="lng" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="polyline">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="points" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="duration">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="value" type="xs:unsignedShort" />
                                <xs:element minOccurs="0" name="text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="html_instructions" type="xs:string" />
                          <xs:element minOccurs="0" name="distance">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="value" type="xs:unsignedShort" />
                                <xs:element minOccurs="0" name="text" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="maneuver" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="duration">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="value" type="xs:unsignedShort" />
                          <xs:element minOccurs="0" name="text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="distance">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="value" type="xs:unsignedShort" />
                          <xs:element minOccurs="0" name="text" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="start_location">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="lat" type="xs:decimal" />
                          <xs:element minOccurs="0" name="lng" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="end_location">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="lat" type="xs:decimal" />
                          <xs:element minOccurs="0" name="lng" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="start_address" type="xs:string" />
                    <xs:element minOccurs="0" name="end_address" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="copyrights" type="xs:string" />
              <xs:element minOccurs="0" name="overview_polyline">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="points" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="warning" type="xs:string" />
              <xs:element minOccurs="0" name="bounds">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="southwest">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="lat" type="xs:decimal" />
                          <xs:element minOccurs="0" name="lng" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="northeast">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="lat" type="xs:decimal" />
                          <xs:element minOccurs="0" name="lng" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>