IM/search_criteria.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2014 Developer Bundle Edition (Education) 12.2.8.5459 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="search_creteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customer_id" type="xs:string" />
        <xs:element minOccurs="0" name="postal_code" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>