IM/search_creteria.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by XML Authority. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://xmlns.example.com/unique/default/namespace/1134438639124"
	 targetNamespace = "http://xmlns.example.com/unique/default/namespace/1134438639124"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	 <xsd:element name = "search_creteria">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "customer_id"/>
				<xsd:element ref = "postal_code"/>
				<xsd:element ref = "timestamp" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "customer_id" type = "xsd:string"/>
    <xsd:element name = "postal_code" type = "xsd:integer"/>
    <xsd:element name = "timestamp" type = "xsd:string"/>

</xsd:schema>